.projectCard{
    width: 300px;
    height: 300px;
    border-radius: 5px;
    overflow: hidden;
    cursor: pointer;
    -webkit-box-shadow:0px 0px 16px -6px rgba(0,0,0,.59);
    box-shadow: 0px 0px 16px -6px rgba(0,0,0,.59);
}

.projectCard img{
    width: 90%;
    height: 70%;
    object-fit: cover;
}

.info{
    display: flex;
    align-items: center;
    gap: 20px;
    padding: 15px;
}

.info img{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
}

.info .texts h2{
  font-size: 14px;
  font-weight: 300;
}

.info .texts span{
    font-size: 14px;
    font-weight: 300;
}