.gigs{
    display: flex;
    justify-content: center;
    width: 100%;
}

.gigs .gigscontainer{
    width: 1200px;
    padding: 30px 0px;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.gigs .gigscontainer .breadcrumbs{
    font-weight: 300;
    font-size: 13px;
    color: #555;
}
.gigs .gigscontainer p{
    color: #999;
    font-weight: 300;
}

.gigs .gigscontainer .menu{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
    border: 1px solid red;
}

.gigs .gigscontainer .menu .leftmenu{
    display: flex;
    align-items: center;
    gap: 10px;
    color: #555;
    font-weight: 300;
}

.gigs .gigscontainer .menu .leftmenu input{
    padding: 5px;
    border: 1px solid lightgray;
    outline: none;
    border-radius: 5px;
}

.gigs .gigscontainer .menu .leftmenu input::placeholder{
    color: gray;
}