.home{

}

.features{
background-color: #f1fdf7;
display: flex;
justify-content: center;
padding: 100px 0px;
}

.features2{
    background-color: #0d084d;
    display: flex;
    justify-content: center;
    padding: 100px 0px; 
}

.features2 .container{
  width: 1200px !important;
  display: flex !important;
  align-items: center !important;
  gap: 50px !important;
}

.features2 .container h1{
    color: white !important;
}

.features2 .container p{
    color: white !important;
    margin-bottom: 20px !important;
}

.features2 .container .title{
    color: white !important;
    font-weight: 300 !important;
    font-size: 14px !important;
}

.features2 .container .title img{
    height: 20px;
    width: 20px;
}

.features2 .container .item button{
    background-color: #1dbf73;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    margin-top: 20px;
    width: max-content;
    border: none;
}

.features2 .container img{
    width: 100%;
}

.Fcontainer{
  width: 1200px;
  display: flex;
  align-items: center;
  gap: 50px;
}

.item .title{
   display: flex;
   align-items: center;
   gap: 10px;
   font-weight: 500;
   font-size: 18px;
   color: gray;
}

.title img{
    width: 24px;
    height: 24px;
}
.item{
    display: flex;
    flex-direction: column;
    gap: 15px;

}

.item h1{
 font-weight: 500;
 margin-bottom: 10px;
}

.item p{
  font-size: 18px;
  font-weight: 300;
  color: gray;
  line-height: 28px;
  letter-spacing: 1px;
}

.item:first-child {
    flex: 2;
}
.item:last-child{
    flex: 3;
}

.item video{
  width: 720px;
}

.explore{
    display: flex;
    justify-content: center;
    padding: 100px 0px;
}

.explore .container{
    width: 1200px;
}

.explore .container h1{
    color: #555;
}