.gig{
    display: flex;
    justify-content: center;
}

.gigcontainer{
    width: 1200px;
    padding: 30px 0px;
    display: flex;
    gap: 50px;
}

.gigLeft{
    flex: 2;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.gigLeft .breadCrumbs{
    font-weight: 300;
    font-size: 13px;
    text-transform: uppercase;
    color: #555;
}

.gigLeft .giguser{
    display: flex;
    align-items: center;
    gap: 10px;

}
.gigLeft .giguser .pp{
    width: 32px;
    height: 32px;
    border-radius: 50%;
}

.gigLeft .giguser span{
    font-size: 14px;
    font-weight: 500;
}

.gigStars{
    display: flex;
    align-items: center;
    gap: 5px;
}

.gigStars img{
    height: 14px;
    width: 14px;
}

.gigStars span{
    font-size: 14px;
    font-weight: bold;
    color: #ffc108;
}


.gigLeft .Slider{
    background-color: #F5F5F5;
    
}
.gigLeft .Slider img{
    max-height: 500px;
    object-fit: contain;
}

.gigLeft .Slider .carousel-prev, .gigLeft .Slider .carousel-next{
    width: 40px;
    height: 40px;
    background-color: rgb(237,236,236);
    border-radius: 50%;
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
}

.gigLeft h2{
    font-weight: 400;
}

.gigLeft p{
    font-weight: 300;
    line-height: 25px;
    color: #555;
}

.gigRight{
    flex: 1;
    display: flex;
    flex-direction: column;
    height: max-content;
    max-height: 500px;
}

.seller{
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.seller .user{
    display: flex;
    align-items: center;
    gap: 20px;
}

.seller .user img{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    object-fit: cover;
}

.seller .user .info{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.seller .user .info .stars{
    display: flex;
    align-items: center;
    gap: 5px;
}

.seller .user .info .stars img{
    height: 14px;
    width: 14px;
}

.seller .user .info .stars span{
    font-size: 14px;
    font-weight: bold;
    color: #ffc108;
}