.featured{
    height: 600px;
    display: flex;
    justify-content: center;
    background-color: rgb(7, 61, 7);
    color:white;
}
.container{
    width: 1100px;
    display: flex;
    align-items: center;
}

.left{
    display: flex;
    flex-direction: column;
    gap: 30px;
}