.Msg{
    display: flex;
    justify-content: center;
}
.Msg .Msgcontainer{
    width: 1200px;
    padding: 50px 0px;
}
.Msg .Msgcontainer .Msgtitle{
   display: flex;
   justify-content: space-between;
}
.Msg .Msgcontainer .Msgtitle button{
    background-color: #1dbf73;
    color: white;
    font-weight: 500;
    border: none;
    padding: 10px;
    cursor: pointer;
}
.Msg .Msgcontainer table{
    width: 100%;
}

.Msg .Msgcontainer table tr{
    height: 100px;
}
.Msg .Msgcontainer table tr th{
    text-align: left;
}

.Msg .Msgcontainer table tr td{
    padding: 10px;
}
.Msg .Msgcontainer table tr td:first-child{
    font-weight: 500;
}
.Msg .Msgcontainer table tr td:nth-child(2), 
.Msg .Msgcontainer table tr td:nth-child(3){
    color: gray;
}

.Msg .Msgcontainer table tr button{
    background-color: #1dbf73;
    color: white;
    padding: 10px;
    border: none;
    cursor: pointer;
}
.Msg .Msgcontainer table .active{
    background-color: #1dbf730f;
}